.Aastikbtn, .Aastikbtn:link, .Aastikbtn:visited {
	background-color:rgb(241, 13, 13);
	 text-align: center;
	 text-transform: uppercase;
	 text-decoration: solid;
	 display: inline-block;
	 width: 200px;
	 border-radius: 10rem;
	 transition: all 0.2s;
	 position: relative;
	 top: 0px;
	 left: 0px;
	 font-size: 1.6em;
	 border: none;
	 cursor: pointer;
}
.Aastikbtn:hover {
	 transform: translateY(-5px);
	 box-shadow: 0 1rem 2rem rgba(252, 250, 250, 0.2);
}
.Aastikbtn:hover::after {
	 transform: scaleX(1.4) scaleY(1.6);
	 opacity: 0;
}
.Aastikbtn:active, .Aastikbtn:focus {
	 outline: none;
	 transform: translateY(-1px);
	 box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
}
.Aastikbtn--white {
	 background-color: #fff;

}
.Aastikbtn--white::after {
	 background-color: #fff;
}

.Aastikbtn::after {
	 content: "";
	 display: inline-block;
	 height: 100%;
	 width: 100%;
	 border-radius: 10rem;
	 position: relative;
	 top: 0;
	 left: 0;
	 z-index: -1;
	 transition: all 0.4s;
}
.Aastikbtn--animated {
	 animation: moveInBottom 0.5s ease-out 0.75s;
	 animation-fill-mode: backwards;
}

body {
 background-image: url("https://media.giphy.com/media/peAFQfg7Ol6IE/giphy.gif");
 background-color: #cccccc;
 background-size: contain;
}

@-webkit-keyframes bounce {
        0% {
    transform: scale(1,1) translate(0px, 0px);
  }

  30%{
    transform: scale(1,0.8) translate(0px, 10px);
  }

  75%{
    transform: scale(1,1.1) translate(0px, -25px);
  }

 100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}

.bounce {
      text-align:center;
      margin:0 auto;
      margin-top:100px;
      width:200px;
      padding:5%;
      background:white;
			border-radius: 0%%;
     -webkit-animation: bounce 0.75s infinite;
}
